.file-robot-button {
    width: 100%;
    height: 100%;
    background-color: #426f8b;
    border-radius: 0;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
}

.file-robot-button:hover {
    background-color: #638aa3;
}

.file-robot-button:focus {
    outline: none;
}